<section>
    <div class="container col-xxl-8 px-4 py-5">
        <div id="main-content" class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img id="main-image" src="/images/image3.png" class="d-block mx-lg-auto img-fluid" alt="PlaceHolder" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">About</h1>
            <p class="lead">Anime-Go is a simple website designed to give you random or categorized recommendations for anime to watch. It is powered by Kitsu.io</p>
            
          </div>
        </div>
      </div>
</section>